body{
    width: 100%;
    margin: 0;    
    float: left;
}
div{
    margin: 0;
    padding: 0;
}
.error{
    color : red;
    font-size: 1em;
}
a{
    margin: 0;
}
.clickable{
    cursor: pointer;
}
.header{
    width: 100%;
    border-bottom: solid;
    height: 50px;
    border-radius: 20px;
}

.header .logo{
    width: 15%;
    height: 100%;
    float: left; 
    position: relative;
}

.header .logo a{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15% 0 0 -25%;
    font-size: 40px;
    text-decoration:none;
    color: black;
    float: left;
    font-family: Arial Black, Arial;
}

.header .nav{
    margin-right: 1%;
    width: 69%;
    height: 100%;
    float: left;
}

.header .nav .game{
    width: 10%;
    height: 100%;
    float: right; 
    position: relative;    
}

.header .nav a{
    position: absolute;
    top: 50%;
    margin: -20% 0 0 0;
    font-size: 30px;    
    text-decoration:none;
    color: black;
    float: left;
    font-family: Arial Black;
}

.header .user_info{
    top: 13%;
    display: block;
    width: 15%;
    height: 100%;
    float: right;
    position: relative;
    font-family: Arial Black, Arial;
    font-size: .75em;
    text-align: center;
}

.header .user_info .center{
    margin-top: 10px;
}

.header .user_info .center span{
}

.header .user_info a{
    text-decoration:none;
    color: black;
    float: left;    
}
.wrapper{
    width: 100%;
    min-height : 500px;
}
.content{
    font-family: ARIAL BLACK, Arial;
    text-align: center;
    margin: 1em auto 0;
    width: 80%;
    min-height: 500px;
}

.login{
    width: 400px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    border: solid;
}

.login a{
    text-decoration: none;
    color:black;
}

.login .form_wrapper{
    margin: 110px auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 350px;
    height: 100px;
}

.login .form_wrapper .top{
    top: 0; left: 0; bottom: 0; right: 0;
    width: 315px;
    margin: 0 auto;    
    height: 55px;
    font-family: Arial Black, Arial;
}

.login .form_wrapper .top .labels{
    float: left;
}
.login .form_wrapper .top .labels .seperator{
    height: 10px;
    width: 100%;
}

.login .form_wrapper .top .inputs{
    float: right;    
}

.login .form_wrapper .top .inputs .seperator{
    width: 100px;
    height: 10px;
}

.login .form_wrapper .top .inputs input{
    border-radius: 5px;    
    width: 200px;
    height: 20px;
}

.login .form_wrapper .bottom{
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: Arial Black, Arial;
    width: 315px;
    margin: 0 auto;
    height: 30px;
}

.login .form_wrapper .bottom input{
    font-family: Arial Black, Arial;
    float: right;
}

.login .form_wrapper .bottom a{
    text-decoration: none;
    font-family: Arial Black, Arial;
    float: left;
}
.game_container{
    display: block;
    width: 100%;
}
#game{
    border : black;
    border-style: solid;
    width: 100%;
    float: left;
}
.round_solid{
    border: solid;
    border-radius: 15px;
}
.menu{
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 10;
    opacity: 1; 
    margin-left: 3px;
    margin-top: 28px;
}
.menu .center{
    border : black;
    border-style: solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    position: absolute;
    left: 31%;
    top: 31%;
    padding: 1em;
    float: left;
}
.menu .center .lang{
    font-family: Arial Black, Arial;
    padding-bottom: .5em;
}
.menu .center .lang select{
    border-radius: 3px;
    font-family: Arial Black, Arial;
    font-size: 1.5em;
    height: 1.6em;
    width: 5.5em;
}
.menu .button{
    font-size: 40px;
        
}
.left{
    float: left;
    width: 80%;
}
.right{
    float: left;
    width: 18%;
    font-family: Arial Black, Arial;
    margin-left: 2%;
}
.input_area{
    float: left;
    height: 25px;
    width: 325px;
    font-family: Arial Black, Arial;
}
.ui_top{
    width: 100%;
    height: 25px;
    float: left;
}
.input_area .label{
    float: left;
    margin-bottom: 50%;
    font-family: Arial Black, Arial;
}
#defense-code{
    margin-left: .5em;
    float: left;
    resize: none;
    border-radius: 5px;
}
.word_area{
    margin-left: 6px;
    height: 25px;
    float: right;
}
.word_area .label{
    float: left;
    margin-bottom: 50%;    
    font-family: Arial Black, Arial;
}
.new_word_list{
    margin-left: .5em;
    float: left;
    height: 25px;
    font-family: Arial Black, Arial;
}
.old_word_list{
    float: left;
    width: 100%;
    margin-left: .5em;
}
.old_word_list .ghost{
    float: left;
    height: 1px;
    width: 15%;
}
.old_word_list .label{
    margin: 1.5em auto 0;
    margin-left: auto;
    border-bottom: solid;
    border-radius: 5px;
    float: left;
    width: 70%;
    text-align: center;
}
.right .cols{
    width: 100%;
    float: left;
    margin: .5em 0 0;
}
.right .cols .word_col{
    width: 45%;
    margin: 0 2.5%;
    float: left;
    text-align: center;
}
.footer{
    width: 100%;
    float: left;
    margin-top: 1em;
    height: 100px;
    border-radius: 100px;
    border-top: solid;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer a:visited{
    color: black;
}
.footer .left{
    margin-left: 5%;
    width: 20%;
    float: left;
    height: 50%;
    font-family: ARIAL BLACK, Arial;
    margin-top: 2.5%;
}

.footer .right{
    width: 60%;
    margin-right: 5%;
    float: right;
    text-align: right;
    height: 50%;
    font-family: ARIAL BLACK, Arial;
    margin-top: 2.5%;
}

.about_container{
    width: 600px;
    min-height: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 15px;
    border: solid;
    padding: .5em;
    clear: both;
}
.about_container .text{
    display: block;
    margin: 3% 5%;
    width: 90%;
    height: 94%;
    clear: both;
    float: left;
}

.register{
    width: 550px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    border: solid;
}

.register a{
    text-decoration: none;
    color:black;
}

.register .form_wrapper{
    margin: 10px auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 500px;
    height: 300px;
}

.register .form_wrapper .top{
    top: 0; left: 0; bottom: 0; right: 0;
    width: 465px;
    margin: 0 auto;    
    height: 250px;
    font-family: Arial Black, Arial;
}

.register .form_wrapper .top .labels{
    float: left;
}
.register .form_wrapper .top .labels .seperator{
    height: 10px;
    width: 100%;
}

.register .form_wrapper .top .inputs{
    float: right;    
}

.register .form_wrapper .top .inputs .seperator{
    width: 100%;
    height: 7px;
}

.register .form_wrapper .top .inputs input{
    border-radius: 5px;    
    width: 200px;
    height: 20px;
}

.register .form_wrapper .top .inputs select{
    border-radius: 5px;        
    height: 20px;
}

.register .form_wrapper .bottom{
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: Arial Black, Arial;
    width: 315px;
    margin: 0 auto;
    height: 30px;
}

.register .form_wrapper .bottom input{
    font-family: Arial Black, Arial;
}

.register .form_wrapper .bottom a{
    text-decoration: none;
    font-family: Arial Black, Arial;
    float: left;
}
.tutorial{
    margin-top: 10%;
    height: 330px;
    width: 90%;
    margin-left: 05%;
    height: auto;
    float: left;    
}
.tutorial .exit{
    text-align: right;
    margin-right: .5em;
}

.menu{
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 10;
    opacity: 1; 
    margin-left: 3px;
    margin-top: 28px;
}
.menu #pausemenu .center{
    border : black;
    border-style: solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    position: absolute;
    left: 28%;
    top: 30%;
    padding: 1em;
    float: left;
}
.menu #lose_menu .text{
    position: absolute;
    text-align: center;
    font-family: Arial Black, Arial;
    font-size: 2.5em;
    top: 15%;
    left: 35.5%;
    float: left;
    height: 1.5em;
    width: auto;
}
.menu #lose_menu .center{
    border : black;
    border-style: solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    position: absolute;
    left: 25%;
    top: 30%;
    padding: 1em;
    float: left;
}
.menu .button{
    font-size: 40px;        
}

.index_error{
    width: 100%;
    float: left;
}

.showcase{
    margin-left: 77px;
    position: relative;
    width: 914px;
    border: solid;
    border-radius: 15px;
    height: 575px;
    float: left;    
}
.showcase p{
    border-top: solid;
}

.play_now{
    font-size: 5em;
}

.play_now a{
    text-decoration: none;
    color: black;
}