/*
body{
    width: 100%;
    margin: 0;    
    float: left;
    font-weight: 900;
}
div{
    margin: 0;
    padding: 0;
}
.error{
    color : red;
    font-size: 1em;
}
.left{
    float:left;
    text-align: left;
}
a{
    margin: 0;
}
.clickable{
    cursor: pointer;
}



.wrapper{
    width: 100%;
    min-height : 500px;
}
.content{
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
    text-align: center;
    margin: 1em auto 0;
    width: 80%;
    min-height: 500px;
}



*/

/* GLOBAL */
#content{
    /*Ensure footer stays bottom*/
    min-height: 750px;
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
    text-align: center;
}

/* HEADER */
header{
    border-bottom: solid;
    border-radius: 20px;
    border-bottom-width: 3px;
}

.header .logo a{
    font-size: 40px;
    text-decoration:none;
    color: black;
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
}

.header .nav a{
    font-size: 30px;    
    text-decoration:none;
    color: black;
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
}

.header .user_info{
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
    font-size: .75em;
    text-align: center;
}

.header .user_info a{
    text-decoration:none;
    color: black;
}

/* FOOTER */
footer{
    border-radius: 100px;
    border-top: solid;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:visited{
    color: black;
}
footer .left{
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
}

footer .social .social_button,
footer .social iframe{
    float: left;
    margin-right: .25em;
}

footer .right{
    text-align: right;
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
}

/* FAQ and ABOUT */

article h1{
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
    font-size: 3em;
    font-weight:bold;
    text-align: center;
}
article .about_container{
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
    margin: auto;
    border-radius: 15px;
    border: solid;
    padding: .5em;
    text-align: center;
}
article .about_container h3{
    font-size: 2em;
    font-weight:bold;
    padding: 1em;
}
article .about_container p{
    padding: 1em;
}

/* 404 PAGE */
.error_page .text_container{    
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
    margin: auto;
    border-radius: 15px;
    border: solid;
    padding: .5em;
    text-align: center;
}

/* ADMIN */


/* PAGINATION */
.pages{
    text-align:center;
    width: 100%;
    display: inline-block;
    margin-top: 2em;
}

.pagination{
    width: auto;
    position: relative;
    display: inline-block;
}

.pagination ul{
    text-decoration:none;
    display: inline-block;
    list-style-type: none;
}
.pagination ul li{
    list-style-type: none;
    margin-left: .75em;
    display: inline-block;
}

.pagination ul a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

.pagination ul a:visited{
    color: darkslategrey;
}

.pagination ul .active{
    background-color: black;
    color:white;
    border-radius: 5px;
    padding-left: .15em;
    padding-right: .15em;
}

/* LOGIN */
.login{
    border-radius: 15px;
    border: solid;
    font-family:  Arial Black, Helvetica, Verdana, sans-serif;
    text-decoration: none;
}
.login label, .login .submit{
    padding: 1em;
    display: block;
}
.login #register_link{
    padding-bottom: 1em;
    display: block;
}
.login a{
    text-decoration: none;
    color:black;
}
.login .form_wrapper .top .inputs input{
    border-radius: 5px;
}

/* REGISTER */
.register{
    border-radius: 15px;
    border: solid;
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
}
.register a{
    text-decoration: none;
    color:black;
}
.register .form_wrapper .top .inputs input, .register .form_wrapper .top .inputs select{
    border-radius: 5px;    
}
.register .form_wrapper .bottom a{
    text-decoration: none;
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
}

/* 
    GAME AND INDEX CSS 
    TO BE REDONE NEXT RELEASE    
*/

.showcase{
    margin-left: 35px;
    position: relative;
    width: 914px;
    border: solid;
    border-radius: 15px;
    height: 575px;
    float: left;    
}
.showcase p{
    border-top: solid;
}

.play_now{
    font-size: 5em;
}

.play_now a{
    text-decoration: none;
    color: black;
}
.wrapper-game-index{
    width: 100%;
    min-height : 500px;
}